In [1]:
from mymodule import MyClass
m = MyClass()

In [2]:
m.retrieve_cities(country='GB',percentile=5)

Found 44 cities

In [3]:
m.calculate_travel()

Travel times and distances obtained

In [4]:
m.show_top_cities()

+---------------------+------------+----------+--------------+----------+-------------+
|         City        | Population | car_time | car_distance | pb_time  | pb_distance |
+---------------------+------------+----------+--------------+----------+-------------+
|        London       |  7421228   | 00:11:00 |    3.1 km    | 00:03:00 |    0.5 km   |
|      Birmingham     |   984336   |   None   |     None     |   None   |     None    |
|       Glasgow       |   610271   | 06:58:00 |    667 km    | 04:48:00 |    650 km   |
|       Belfast       |   585994   | 10:11:00 |    783 km    | 16:03:00 |    757 km   |
|      Liverpool      |   468946   | 04:12:00 |    358 km    | 02:31:00 |    381 km   |
|        Leeds        |   455124   | 03:44:00 |    316 km    | 02:35:00 |    304 km   |
|      Sheffield      |   447048   | 03:20:00 |    271 km    | 02:47:00 |    270 km   |
|      Edinburgh      |   435794   | 07:27:00 |    669 km    | 04:58:00 |    637 km   |
|       Bristol       |   430714   |   None   |     None     |   None   |     None    |
|      Manchester     |   395516   | 04:02:00 |    338 km    | 02:28:00 |    308 km   |
|      Leicester      |   339240   | 02:16:00 |    164 km    | 01:25:00 |    164 km   |
|       Coventry      |   308314   |   None   |     None     |   None   |     None    |
|  Kingston upon Hull |   302297   | 04:01:00 |    303 km    | 03:27:00 |    321 km   |
|       Cardiff       |   302142   | 02:50:00 |    243 km    | 02:42:00 |    240 km   |
|       Bradford      |   299310   |   None   |     None     |   None   |     None    |
|    Stoke-on-Trent   |   260420   | 03:01:00 |    271 km    | 01:55:00 |    239 km   |
|    Wolverhampton    |   252792   | 02:46:00 |    226 km    | 02:06:00 |    207 km   |
|       Plymouth      |   247298   |   None   |     None     |   None   |     None    |
|      Nottingham     |   246655   | 02:41:00 |    206 km    | 02:02:00 |    208 km   |
|     Southampton     |   246201   | 01:41:00 |    126 km    | 01:26:00 |    126 km   |
|       Reading       |   244071   | 01:09:00 |   65.2 km    | 01:02:00 |   64.7 km   |
|        Derby        |   235029   |   None   |     None     |   None   |     None    |
|        Dudley       |   199060   |   None   |     None     |   None   |     None    |
|     Northampton     |   197323   |   None   |     None     |   None   |     None    |
|      Portsmouth     |   194151   |   None   |     None     |   None   |     None    |
|        Luton        |   193670   | 01:04:00 |   55.2 km    | 00:52:00 |   51.4 km   |
| Newcastle upon Tyne |   192382   | 05:14:00 |    445 km    | 03:11:00 |    437 km   |
|       Preston       |   190688   |   None   |     None     |   None   |     None    |
|       Aberdeen      |   183791   | 09:17:00 |    881 km    | 07:15:00 |    846 km   |
|      Sunderland     |   177965   | 05:07:00 |    435 km    | 04:16:00 |    457 km   |
|       Norwich       |   177636   |   None   |     None     |   None   |     None    |
|     Bournemouth     |   175017   | 02:07:00 |    172 km    | 02:06:00 |    172 km   |
|       Walsall       |   172142   | 02:34:00 |    215 km    | 02:28:00 |    203 km   |
|       Swansea       |   170885   | 03:29:00 |    302 km    | 03:34:00 |    313 km   |
|   Southend-on-Sea   |   163378   | 01:22:00 |   70.5 km    | 01:13:00 |   63.0 km   |
|       Swindon       |   162439   | 01:43:00 |    128 km    | 01:26:00 |    131 km   |
|        Oxford       |   154567   |   None   |     None     |   None   |     None    |
|        Dundee       |   151593   |   None   |     None     |   None   |     None    |
|        Poole        |   150092   | 02:19:00 |    178 km    | 02:19:00 |    181 km   |
|     Huddersfield    |   149018   | 03:50:00 |    307 km    | 03:05:00 |    332 km   |
|         York        |   144202   | 04:05:00 |    326 km    | 02:01:00 |    308 km   |
|       Ipswich       |   143768   |   None   |     None     |   None   |     None    |
|      Blackpool      |   143101   | 04:29:00 |    401 km    | 03:03:00 |    369 km   |
+---------------------+------------+----------+--------------+----------+-------------+